doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TRIPXP-shareyoureperience
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Site Description Here')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/stack-interface.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/socicon.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/lightbox.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/flickity.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/iconsmind.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/jquery.steps.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons', rel='stylesheet')
  body
    a#start
    // end bar
    nav#menu1.bar.bar--sm.bar-1.hidden-xs
      .container
        .row
          .col-md-1.col-sm-2.hidden-xs
            .bar__module
              a(href='index.html')
                
            // end module
          // end module
          .bar__module(style='float:right;')
            a.btn.btn--sm.btn--primary.type--uppercase(href='/users/logout')
              span.btn__text
                | Logout
          .bar__module(style='float:right;')
            a.btn.btn--sm.btn--primary.type--uppercase(href='/posts/add')
              span.btn__text
                | Add Post/question
          .bar__module(style='float:right;')
            a.btn.btn--sm.btn--primary.type--uppercase(href='/abcd')
              span.btn__text
                | Question
          .bar__module(style='float:right;')
            a.btn.btn--sm.btn--primary.type--uppercase(href='/')
              span.btn__text
                | Home
    .main-container
      section.space--sm
        .container
          .row
            .col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2
              .masonry.masonry-blog-list
                .masonry__container
                    .article__title.text-center
                      a(href='#')
                        h2 #{post.title}
                      span on #{moment(post.date).format("MM-DD-YYYY")} by #{post.author} 
                      span
                         a(href='/categories/show/#{post.category}') #{post.category} 
                    // end article title
                    .article__body
                      !=post.body, 400
                      a(href='/') << Back
                      
        .container
              .row 
                h3 Comments
                if comment

                    each comment ,i in comments
                        .comment
                            h2 #{comments.name}
                            p.comment-name #{comment.body}
                        
                      
                      
                      
                      
                form.comment-form(method='post',action='/posts/addcomment')
                    input(name='postid',type='hidden',value='#{post._id}')
                    .form-group
                        textarea.form-control(name='body',id='body',placeholder="Comment")
                    .form-group
                        input(name='name',type='hidden',value='#{user.name}')
                        input(name='email',type='hidden',value='#{user.email}')
                    br
                    input.btn.btn-default(name='submit',style='margin-bottom:10px;width: 50px;left:calc(46%)',type='submit',value='Comment ')  
              ul.social-list.list-inline.list--hover
                li
                  a(href='#')
                    i.socicon.socicon-google.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-twitter.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-facebook.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-instagram.icon.icon--xs
          // end of row
          .row
            .col-sm-6
            .col-sm-6.text-right.text-center-xs
              span.type--fine-print
                | ©
                span.update-year
                |  Stack Inc.
              a.type--fine-print(href='#') Privacy Policy
              a.type--fine-print(href='#') Legal
          // end of row
        // end of container
    // <div class="loader"></div>
    a.back-to-top.inner-link(href='#start', data-scroll-class='100vh:active')
      i.stack-interface.stack-up-open-big
    script(href='/javascripts/jquery-3.1.1.min.js').
    script(href='/javascripts/flickity.min.js').
    script(href='/javascripts/easypiechart.min.js').
    script(href='/javascripts/parallax.js').
    script(href='/javascripts/typed.min.js').
    script(href='/javascripts/datepicker.js').
    script(href='/javascripts/isotope.min.js').
    script(href='/javascripts/ytplayer.min.js').
    script(href='/javascripts/lightbox.min.js').
    script(href='/javascripts/granim.min.js').
    script(href='/javascripts/jquery.steps.min.js').
    script(href='/javascripts/countdown.min.js').
    script(href='/javascripts/twitterfetcher.min.js').
    script(href='/javascripts/spectragram.min.js').
    script(href='/javascripts/smooth-scroll.min.js').
    script(href='/javascripts/scripts.js').
